---
import Navbar from "../components/Navbar.astro";
import Navbar2 from "../components/Navbar2.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
// import fondo1 from "../../public/fondo1.png"
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navbar />
		<Navbar2 />
		<main class="pt-28 bg-red-400">
			<img class="w-full" src="fondo1.png" alt="" />
		</main>

		<section class="flex w-full pl-[300px] p-20 py-16">
			<Sidebar />
			<div class="w-full">
				<div class="p-5 w-full flex justify-center items-start gap-20">
					<div class="w-full flex flex-col items-center gap-y-8">
						<h1
							class="uppercase text-[#A71825] text-3xl text-center font-bold"
						>
							Proceso
							<br />
							de admision
						</h1>

						<p class="w-[500px] text-justify">
							Lorem ipsum dolor sit, amet consectetur adipisicing
							elit. Unde voluptatibus dolores repellendus, a
							tempore ratione amet laborum. Magni repellat, ad
							minus iure, maxime nemo eum unde pariatur
							perspiciatis impedit eius! Lorem ipsum dolor, sit
							amet consectetur adipisicing elit. Id, asperiores.
							Similique nostrum quod earum quibusdam commodi
							debitis aut
						</p>
					</div>

					<div class="w-full">
						<img src="video.png" alt="" />
					</div>
				</div>

				<div class="p-5 h-screen w-full">
					Lorem, ipsum dolor sit amet consectetur adipisicing elit.
					Reprehenderit in explicabo praesentium. Harum perspiciatis
					dolores esse animi consequatur eum, laborum nesciunt
					similique perferendis corrupti sequi temporibus ducimus
					maiores accusantium porro recusandae fuga dolor aperiam
					laboriosam illum totam distinctio! Non placeat dolorum
					corrupti quo in cumque at totam iusto repellendus
					consectetur sunt libero hic tempora esse quas deleniti nulla
					odio, sapiente saepe cupiditate deserunt ab cum veniam.
					Officiis similique non ipsam perferendis sunt quam maiores
					porro obcaecati. Perspiciatis, obcaecati! Perferendis eaque
					velit tenetur quasi corporis quo eveniet vitae molestias
					minima iusto? Saepe ab ullam, architecto accusamus, delectus
					cumque doloribus, sunt qui obcaecati odit cum. Quo repellat
					neque quidem, eum molestias doloremque. Deleniti natus
					excepturi, accusamus velit harum similique consectetur cum
					ad eius minus doloribus perferendis rerum nobis autem, fuga
					illum aperiam saepe, repellendus voluptas in dolorum
					eligendi dolor blanditiis corrupti! Aliquam, cum natus
					corrupti debitis ea sapiente, dolor et ipsum veniam magni
					consectetur quos animi assumenda? Tenetur ipsam eligendi
					harum quo, adipisci tempora, praesentium a, inventore quas
					nesciunt ad eaque? Delectus modi culpa dolores? Modi
					consequatur cupiditate ad unde. Nostrum vero distinctio
					quibusdam voluptate illum et nihil a perferendis veniam
					debitis ea, tenetur rerum dicta cum quas fuga earum optio
					numquam quasi ipsum sunt. Illo veritatis ipsa inventore
					pariatur a minus dolorem aspernatur, nulla officia suscipit
					quis optio dolore nam doloremque odio consequatur
					reprehenderit? Ipsum dolorem voluptate excepturi veniam
					ullam perferendis est unde harum aperiam ducimus voluptatem
					fugit animi, minima totam, illum quibusdam incidunt, nisi
					quos modi. Aut harum quod magnam assumenda odit consequuntur
					modi ratione totam fugit fuga repellendus, incidunt,
					deleniti quasi nisi maiores? Eius corrupti a, laboriosam
					vero saepe at labore perspiciatis! Odit nobis optio error
					libero eius dignissimos quod iusto nam ipsa deserunt minus
					soluta laudantium quo saepe, aperiam doloremque! Amet porro
					adipisci eos saepe a earum itaque incidunt aut voluptate.
					Eius id est iusto fugit non dolorum similique omnis
					perspiciatis repellendus possimus sit minima vero fugiat
					sapiente fuga dolore placeat, aperiam eligendi
					necessitatibus. Inventore modi iusto illo dolores
					voluptatibus, distinctio qui, mollitia laudantium officia
					fugit quo eaque facilis, quos blanditiis aut illum odit
					deserunt cupiditate. Adipisci iste quam totam enim. Dicta
					minus enim officiis quibusdam nisi sed perspiciatis facere
					totam, voluptatibus culpa earum cupiditate quos beatae
					aliquam ipsum autem deleniti eaque laudantium a porro
					tempore ut vitae minima nam! Nisi, corporis. Tempore
					exercitationem a, atque beatae eaque dicta dolores magnam
					praesentium ipsam magni obcaecati voluptatum expedita eos
					vel voluptatem officiis nemo. Atque nam explicabo assumenda
					nemo deleniti fugit esse iste ea sapiente modi repellendus
					eaque blanditiis, enim quia fuga, deserunt vero quasi a
					corrupti voluptatem. Libero ea corporis tempore consequatur
					voluptates! Dicta, eligendi asperiores ipsa exercitationem
					non nulla natus tempore quisquam similique nam voluptatum
					tempora dolore quidem sunt harum inventore facilis neque
					ratione recusandae? Distinctio impedit nulla fugiat. Alias
					possimus vitae dignissimos reprehenderit, iusto soluta
					cupiditate consequuntur maiores similique adipisci expedita
					eum, excepturi atque nulla, nesciunt laudantium quos vel
					facilis. Vel temporibus laudantium blanditiis, ducimus
					consequatur rem veniam ad maxime eius tenetur ratione
					voluptates dolore repudiandae sequi architecto ab, officiis,
					ut animi. Voluptatibus facere dignissimos in sint
					exercitationem harum nostrum. Maxime laboriosam dicta,
					perferendis dolor numquam maiores. Illo eum facere assumenda
					similique, alias vitae temporibus voluptate dolores,
					repellendus corporis fugiat sed inventore cumque nihil aut
					dolore tempora pariatur hic esse eveniet dignissimos
					exercitationem accusantium beatae at. Quasi, nulla pariatur
					illo accusantium sint reiciendis dolore quo, earum cum
					temporibus doloremque aspernatur culpa. Cupiditate accusamus
					enim dolore omnis illo vitae impedit ipsa amet, corporis
					sunt ab? Commodi dolor dolores debitis! Autem adipisci,
					laboriosam fuga earum iste dolore ullam vel soluta ad labore
					porro veniam quis exercitationem quidem deserunt beatae
					assumenda, hic fugiat sapiente incidunt laborum impedit!
					Dolore nesciunt non nihil voluptates delectus, magnam
					aspernatur mollitia neque quasi, tempora iste dignissimos
					animi. Repudiandae, rerum! Provident iusto, inventore
					adipisci architecto doloribus molestiae error tempore et
					molestias facere in natus beatae ipsa sunt aliquam neque
					amet. Id facilis nesciunt at provident explicabo temporibus
					maxime eius architecto odit ad suscipit corporis illo sunt
					doloremque commodi minima incidunt iusto deleniti et aut,
					unde modi! Nulla aliquam in esse vel architecto delectus,
					accusantium consequuntur? Veniam, laborum! In et, ut error
					voluptates aspernatur suscipit quod vero sed a, debitis
					veniam eius laboriosam. Dolorum nisi eveniet porro dolorem
					incidunt ratione similique totam ipsum aut hic blanditiis,
					eaque illo minus non qui, molestias delectus! Facilis
					molestias eius earum veniam quam ad, ducimus delectus eos
					neque sunt asperiores soluta sint reprehenderit dolores,
					aperiam laborum itaque nam incidunt, ullam nisi ut sapiente
					blanditiis nobis! Laudantium tenetur non porro nostrum cum
					minima accusantium illo, placeat vitae id amet ducimus eius
					maiores libero, mollitia delectus similique dicta qui
					tempora, voluptatibus accusamus optio? Incidunt, porro
					facilis quos explicabo eligendi blanditiis veritatis iure
					voluptas culpa soluta! Aut beatae porro eligendi deserunt
					dolorum corporis, quibusdam quas illum tempore obcaecati,
					consequuntur quis! Minus temporibus molestiae ullam maiores
					assumenda repellat praesentium in quae dignissimos, rem
					aperiam vel atque optio sequi saepe impedit corrupti aut
					illo explicabo nesciunt quo fugit animi ad magni! Commodi at
					nulla esse illo error quos, aut et voluptatem? Maxime
					sapiente, cupiditate reprehenderit corrupti harum cum
					expedita hic rem itaque natus laborum vel enim ullam sit
					assumenda architecto, doloribus commodi illo obcaecati totam
					sequi quo ut dolorum! Velit reiciendis saepe dolor, ad sequi
					cumque, animi aperiam recusandae corporis hic incidunt quia
					dolores ea quidem inventore doloribus perferendis vel
					eveniet ipsam possimus rerum dicta? In, nobis modi maiores
					qui assumenda cum nesciunt repellendus pariatur aliquid
					voluptatem accusamus tempore dolorum voluptas id, veniam
					quam explicabo quas! Sunt alias dicta iusto minima
					consequuntur mollitia provident saepe praesentium fugiat
					amet porro nesciunt accusamus ipsam corrupti quod at
					explicabo et distinctio quas reprehenderit aliquam
					perspiciatis, quo eligendi. Vel eligendi debitis fuga
					explicabo corrupti hic tempore illo unde totam dolore quidem
					non, possimus deleniti quibusdam dolorem dicta repudiandae
					voluptatum et doloribus officiis earum enim. Illum repellat
					hic tempora doloremque voluptatem soluta, asperiores rem,
					veniam ab voluptates illo odit, sit excepturi maiores
					reprehenderit. Ex consectetur eius, itaque animi aspernatur
					ipsum quidem debitis porro eveniet, minima rem culpa
					aliquam, expedita dolorum quibusdam.
				</div>
			</div>
		</section>

		<section class="w-full bg-white h-auto relative z-50">
			<h3 class="text-[#A71825]  text-6xl font-bold text-center">Inscripciones Abiertas</h3>

			<p class="text-center my-8">
				Descubre nuestras actividades extracurriculares para preescolar
				asi como otros beneficios especiales que ofrecemos. Haz parte de
				nuestra gran familia Claretiana.
			</p>


			<Footer/>
		</section>
	</body>
</html>
