<footer class="w-full bg-[#8e1922]">
    <div class="flex w-[80%] mx-auto p-20">
        <div class="flex flex-col gap-y-6 w-[500px] border-r-[1px] justify-center pr-5">
            <img src="logo.png" alt="" />
            <img src="logo.png" alt="" />
        </div>
    
        <div class="w-full flex flex-col justify-center items-center">
            <div class="flex justify-between w-full p-5 px-20">
                <div>
                    <ul class="text-white opacity-60 text-lg font-light">
                        <li class="text-yellow-300 font-semibold text-lg">ADMISIONES</li>
                        <li><a href="">listados de admitidos</a></li>
                        <li><a href="">Proceso de admision</a></li>
                        <li><a href="">Agenda tu cita</a></li>
                        <li><a href="">Costos educativos</a></li>
                        <li><a href="">Documentos Requeridos</a></li>
                        <li><a href="">Descuentos</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="text-white opacity-60 text-lg font-light">
                        <li class="text-yellow-300 font-semibold text-lg">SERVICIOS</li>
                        <li><a href="">Enfermeria</a></li>
                        <li><a href="">Biblioteca</a></li>
                        <li><a href="">Cafeteria</a></li>
                        <li><a href="">Matricula y pagos Phidias</a></li>
                        <li><a href="">Solicitud de certificados</a></li>
                        <li><a href="">Uniformes Proclade</a></li>
                        <li><a href="">listados de admitidos</a></li>
                        <li><a href="">Consorcio de transporte</a></li>
                        <li><a href="">Actividades extracurriculares</a></li>
                        <li><a href="">Formulario PQR</a></li>
                        <li><a href="">Psicoorientacion</a></li>
                        <li><a href="">Descuentos</a></li>
                    </ul>
                </div>
        
                <div>
                    <ul class="text-white opacity-60 text-lg font-light">
                        <li class="text-yellow-300 font-semibold text-lg">COLEGIO</li>
                        <li><a href="">Reconocimientos</a></li>
                        <li><a href="">Historia</a></li>
                        <li><a href="">Correo institucional</a></li>
                        <li><a href="">Bibliobanco</a></li>
                        <li class="text-yellow-300 opacity-60 font-light"><a href="">TRABAJA CON NOSOTROS</a></li>
                    </ul>
                </div>

                
            </div>

            <p class="text-white font-light text-lg mt-8">
                © 2024, colegio claret. all rights reserved. <span class="text-yellow-300">POLICA DE PROPIEDAD DE DATOS</span>
            </p>
        </div>
    </div>
    
</footer>