<nav class="bg-[#8e1922] p-2 fixed top-0 w-full">
  <div class="w-full px-24 mx-auto flex justify-end items-center">
    
    <div class="hidden md:block">
      <ul class="flex space-x-20 text-lg font-light">
        <li><a href="/" class="text-white">Comunidad</a></li>
        <li><a href="/acerca" class="text-white">Estudiante</a></li>
        <li><a href="/servicios" class="text-white">Docente</a></li>
        <li><a href="/contacto" class="text-white">Servicios Conexos</a></li>
      </ul>
    </div>
  </div>
</nav>
